@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 1px #FFFFFF, 0 0 1px #FFFFFF, 0 0 1px #FFFFFF, 0 0 1px #FFFFFF;
  }
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: 100vh; */

  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Alkatra', cursive;
  font-family: 'Russo One', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.comm-sell {
  display: none;
}

.ant-dropdown-trigger {
  font-family: 'Russo One', sans-serif;
}

.ant-dropdown-menu {
  font-family: 'Russo One', sans-serif;
}

.ant-breadcrumb {
  font-family: 'Russo One', sans-serif;
}



.ant-breadcrumb-item {
  color: white;
  font-weight: bold;
}

.ant-breadcrumb-separator {
  margin: 0 8px;
  color: white;
}


.ant-popover-inner-content {
  /* Apply gradient background */


  /* Apply Russo One font */
  font-family: 'Russo One', sans-serif;
}



/* .edit-div-img{
  background-image: ;

} */

.test-drive-div {
  /* height:100px */
}

.test-drive {
  background-image: url("./components/images/COVER_Aventador-SVJ.webp");
  background-size: cover;
  background-position: center;

}

.add-info-inp {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 20px;
  /* border: 2px solid red;
   */
  display: none;
}

@media (min-width:500px) {
  .drive-dream {
    font-size: 33px;
  }
}

@media (min-width:500px) {
  .drive-dream {
    font-size: 40px;
  }
}

@media (min-width:700px) {
  .test-drive-div {
    position: relative;
    height: 200px;
    top: 0px;
    overflow: hidden;
  }

  .test-drive {
    background-position: center;
    height: 250px;
    position: absolute;
    top: -50px;
  }


  .add-info-inp {
    display: flex;

  }

  .ant-breadcrumb-item {
    font-size: 20px;
  }

  /* .added-result{
    background-image: url("./components/images/lb-b.jpg");
      background-size:;
      background-position:bottom;
    
  } */

}



@media (min-width:1024px) {


  .test-drive-div {
    /* background-position: center; */
    /* border: 2px solid red; */
    height: 300px;
    position: relative;
    overflow: hidden;

  }

  .test-drive {
    background-position: top;
    height: 620px;
    position: absolute;

    top: -300px;
  }

  .comm-sell {
    display: flex;
    flex-direction: column;
    /* background-color: #0d1d73; */
    font-family: 'Alegreya Sans', serif;
    font-family: 'Alkatra', cursive;
    color: #173445;
    /* height: 100%; */
  }

  .commercial-sell {
    background-image: url("./components/images/brands/Classicad.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /* border: 2px solid red; */
    height: 92vh;
    width: 70vh;
  }



  /* .add-form{
    position: absolute;
    left:0;
  } */


  


}



@media (min-width:1300px) {
  .edit-car-form {
    /* border: 2px solid red; */
    width: 44%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .edit-car-form-top {
    width: 80%;
  }
}

@media (min-width:1500px) {


  .test-drive-div {
    /* background-position: center; */
    /* border: 2px solid red; */
    height: 350px;
    position: relative;
    overflow: hidden;
    /* border: 2px solid green; */

  }

  .test-drive {
    background-position: top;
    height: 800px;
    position: absolute;

    top: -330px;
  }

  .edit-car-form {
    /* border: 2px solid red; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .edit-car-form-top {
    width: 85%
  }


}

@media (min-width:1650px) {


  .test-drive-div {
    /* background-position: center; */
    /* border: 2px solid red; */
    height: 400px;
    position: relative;
    overflow: hidden;
    /* border: 2px solid green; */

  }

  .test-drive {
    background-position: top;
    height: 870px;
    position: absolute;
    top: -350px;
  }

  .edit-car-form {
    /* border: 2px solid red; */
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

  }



}


@media (min-width:2150px) {


  .test-drive-div {
    /* background-position: center; */
    /* border: 2px solid red; */
    height: 400px;
    position: relative;
    overflow: hidden;
    /* border: 2px solid green; */

  }

  .test-drive {
    background-position: top;
    height: 900px;
    position: absolute;

    top: -500px;
  }



}